@media screen and (max-width: 1200px) {
    .inbox {
        flex-direction: column;
    }

    .wrap {
        width: 100%;
    }

    .h {
        width: 100%;
        height: 500px;
    }

    .a {
        height: 100px;
    }
}